.title-spacer {
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.bt-menu {
    font-size: large;
}

mat-toolbar {
    border-radius: 3px;
}