.actionsTime {
    text-align: center; 
    margin-top: 30px;
}

span {
    margin: 10px;
    font-size: x-large;
}

.btn-constrols {
    position : fixed;
    text-align: center; 
    bottom: 20px;
    width: 100%;
}

.btn-play {
    margin-top: 30px;
}